@import "../helpers/partials"; // contains scss variables and mixins
@import "../helpers/burger"; // contains styling for burger icon
@import "../helpers/navbar"; //  contains scss variables

@mixin needOpenClassToReveal{
  // Hide a submenu by default
  display: none;
  // Reveal it if gamesnav gets the "open" class
  // Clicking "Games ▼" and "Hardware ▼" tabs will give gamenav and hardwarenav the open class
  &.open{
    display:grid;
  }
}

// Prevent highlighting on the mobile slider
.mobileSlider p,
.mobileSlider span {
  user-select: none;
}

.mobileSlider {
  // Place the slider menu on the right side of the viewport using grid
  display: grid; 
  margin-top: 4.6rem;
  grid-template-columns: 1fr 30rem;
  width: 100%;
  position: fixed;
  z-index: 11;
  height: 100vh;
  .overlay {
    grid-column: 1/2;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 11;
    width: 100%;
    height: 100%;
  }
  .navbar2 {
    width: 30rem;
    grid-column: 2/3;
    background: rgba(255, 255, 255, 1);
    // transform: translateX(30rem); // place slider menu offscreen by default
    font-size: 1.6rem;
  }
  .nav__link {
    padding: 1.2rem; //$ affects spacing between each nav link
    svg:last-of-type {
      width: 1.4rem;
    }
  }
  // Style the line break
  hr {
    @include linebreak(3rem);
    // Override a few styles for this menu
    width: 80%;
    margin-left: 10%;
  }
  //^ Style gamenav
  .gamenav {
    @include needOpenClassToReveal;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    padding: 1.6rem;
    
    a {
      @include flex-column;
    }
    .svgContainer {
      width: 100%;
      height: 6.5rem;
      @include svgBorder;
      // Center the SVG's in their containers
      @include flex-row;
      justify-content: center;
      margin-bottom: 0.6rem;
    }
    svg {
      box-sizing: border-box;
      height: 100%;
      padding-block: 1rem;
    }
  }

  .hardwarenav {
    @include needOpenClassToReveal;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    padding: 1.6rem;
    // Set height for all images
    img {
      height: 4.5rem;
    }

    // Create a grid to place each nav__link inside of
    a {
      width: 100%; // make <a> expand across whole cell
      @include flex-column;
    }
    // Position each nav__link in the grid
    a:nth-of-type(1) {
      grid-column: 1/-1;
      grid-row: 1/2;
      // Stretch borders out to max
    }
    a:nth-of-type(2) {
      grid-column: 1/2;
      grid-row: 2/3;
      // Make width 120px total
    }
    a:nth-of-type(3) {
      grid-column: 2/3;
      grid-row: 2/3;
      // Make width 120px total
    }
    .imgContainer {
      width: 100%;
      margin-inline: auto;
      @include svgBorder;
      @include flex-row;
      justify-content: center;
      padding-block: 1rem;
      margin-bottom: 0.6rem;
    }
  }
  @media (min-width: 770px) {
    .overlay {
      display: none;
    }
    .navbar2 {
      display: none;
    }
  }
}
