@import "../../helpers/partials";
// Position the game details section in the main webpage grid
.game-details {
  margin-block: 4.8rem;
  grid-row: 7/8;
  grid-column: 2/3;
  gap: 1.6rem;
  & > h2:first-of-type {
    @include headerStyling($text-gray);
  }
  @media (min-width: 770px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto; //! switch to auto later
    grid-template-areas:
      "e e"
      "a a"
      "b c"
      "d d";
    & > h2:first-of-type {
      margin-bottom: 0;
    }
  }
}

@import "./gameDetails", "./playModes", "./esrb", "./online";
